html, body {
	box-sizing: border-box;
}

img, video, object {
	max-width: 100%;
}

html, body,
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------------------------
 * Header and Navigation
 * ------------------------------------------------------------------------------------*/
header {
	
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
}

/* -------------------------------------------------------------------------------------
 * Main Content
 * ------------------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------------------
 * Footer
 * ------------------------------------------------------------------------------------*/

footer {
	
}
